.title {
  /* color: 'black'; */
  font-family: DM Sans, var(--mantine-font-family), "system-ui";
  font-weight: 700;
  line-height: 1.25;
  font-size: 16px;
  /* color: "gauge-primary.6"; */
  text-transform: uppercase;

  @media (max-width: 64em) {
    max-width: 100%;
    font-size: 50px;
    line-height: 1.15;
  }
  @media (max-width: 48em) {
    max-width: 100%;
    font-size: 35px;
    line-height: 1.15;
  }
}

.subtitle {
  /* color: 'black'; */
  font-family: DM Sans, var(--mantine-font-family), "system-ui";
  font-weight: 800;
  line-height: 1.3;
  font-size: 40px;
  margin-bottom: 10px;

  @media (max-width: 64em) {
    max-width: 100%;
    font-size: 30px;
    line-height: 1.15;
  }
  @media (max-width: 48em) {
    max-width: 100%;
    font-size: 24px;
    line-height: 1.15;
  }
}

.description {
  opacity: 1;
  font-size: 18px !important;
  font-weight: 500 !important;

  @media (max-width: 64em) {
    max-width: 100%;
  }
  @media (max-width: 48em) {
    font-size: 16px;
  }
}